@using ASP_Project.Areas.Identity.Data.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products"; 
    <link rel="stylesheet" href="~/css/productIndex.css">
}  
<body>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Products list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-cart"><i class="fas fa-plus"></i> Create New Product </a>
        </div>
    </div>
    <br/>  
    <div class="products">
        <div class="container">
            <div class="product-items">
                @foreach (var item in Model)
                {  
                    <div class="product"> 
                        <div class="product-content">
                            <div class="product-img">
                                @if (item.ProductImages != null && item.ProductImages.Any())
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ProductImages.First().ImageData!)" alt="product image">
                                }
                                else
                                {
                                    <img alt="No image"/>
                                }
                            </div>
                            <div class="product-btns"> 
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id"
                                class="btn btn-delete"><i class="fas fa-trash"></i> Delete</a>
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id"
                                class="btn btn-edit"> <i class="fas fa-edit"></i> Edit</a>
                            </div>
                        </div>
                        
                        <div class="product-info">
                            <a href="#" class="product-name">
                                @item.Name
                            </a>
                            <div class="product-info-top">
                                <h2 class="md-title">
                                    @item.Producer
                                    @item.OperatingSystemEnum,
                                    @item.BatteryCapacity,
                                    @item.Color,
                                    @item.RAM,
                                    @item.InternalMemory
                                </h2>

                            </div>
                                @if (item.Discount != null && item.Discount > 0)
                                {
                                    var discountPercentage = (decimal)item.Discount / 100; 
                                    var discountedPrice = item.Price - (item.Price * discountPercentage);
                                    <p class="product-price-discount">$ @item.Price.ToString("0.00")</p>
                                    <p class="product-price">$ @discountedPrice.ToString("0.00")</p>
                                }
                                else
                                {
                                    <p class="product-price">$ @item.Price.ToString("0.00")</p>
                                }
                        </div>
                        
                        @if (item.Discount != null && item.Discount > 0)
                        {
                            <div class="off-info">
                                 <h2 class="sm-title">@item.Discount% off</h2>
                            </div>
                        } 
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</body>
