@using ASP_Project.Areas.Identity.Data.Models; 
@model ProductListViewModel;
@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int pageNo = 0;

    @if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home.css">
    <script defer src="https://kit.fontawesome.com/28a2634532.js" crossorigin="anonymous"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <main>
        <div class="main-container">
            <div class="filters">
                <form class="form-filters" method="get" action="@Url.Action("Index")">
                    <button type="button" class="accordion">Price</button>
                    <div class="panel">
                        <div class="filter-input">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Min/Max</span>
                                </div>
                                <input name="filter.MinPrice" type="text" class="form-control" placeholder="0$" value="@Model.Filter.MinPrice">
                                <input name="filter.MaxPrice" type="text" class="form-control" placeholder="5000$" value="@Model.Filter.MaxPrice">
                            </div>
                        </div>
                    </div>
                    <hr />
                     
                    <button type="button" class="accordion">RAM</button>
                    <div class="panel">
                        <div class="filter-input">
                            <div class="input-group-items">
                                @foreach (var ram in new List<string> { "4 GB", "6 GB", "8 GB", "16 GB", "1 TB" })
                                {
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input name="filter.RAMs" type="checkbox" class="custom-control-input" id="ram@(ram)" value="@ram" @(Model.Filter.RAMs != null && Model.Filter.RAMs.Contains(ram) ? "checked" : "")>
                                        <label class="custom-control-label" for="ram@(ram)">@ram RAM</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div> 
                    <hr />
                     
                    <div class="search-div">
                        <input type="text" id="searchText" name="filter.SearchText" placeholder="Search by name" class="form-control" value="@Model.Filter.SearchText">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div> 
                </form>
            </div>
            <div class="products">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Images</th>
                            <th scope="col">Price</th>
                            <th scope="col">Producer</th>
                            <th scope="col">RAM</th>
                            <th scope="col">Operating system</th>
                            <th scope="col">NFC</th>
                            <th scope="col">SIMs</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Products.Any() && !string.IsNullOrEmpty(Model.Filter.SearchText))
                        {
                            <tr>
                                <td colspan="8">No products found.</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in @Model.Products!)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>
                                        <img class="product-img" src="data:image/jpeg;base64,@Convert.ToBase64String(item.ProductImages.First().ImageData!)" alt="product image">
                                    </td>
                                    <td>@item.Producer</td>
                                    <td>@item.RAM</td>
                                    <td>@item.OperatingSystemEnum</td>
                                    <td>@item.NFC</td>
                                    <td>@item.NumberOfSIMCards</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-paggination">
            @if (pager.TotalPages > 0)
            {
                <ul class="pagination justify-content-end">
                    @if (pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pg="1" asp-route-minPrice="@Model.Filter.MinPrice" asp-route-maxPrice="@Model.Filter.MaxPrice" asp-route-RAMs="@Model.Filter.RAMs" asp-route-searchText="@Model.Filter.SearchText">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-action="Index"
                               asp-route-pg="@(pager.CurrentPage - 1)" asp-route-minPrice="@Model.Filter.MinPrice" asp-route-maxPrice="@Model.Filter.MaxPrice" asp-route-RAMs="@Model.Filter.RAMs" asp-route-searchText="@Model.Filter.SearchText">Previus</a>
                        </li>
                    }

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-pg="@pge" asp-route-minPrice="@Model.Filter.MinPrice" asp-route-maxPrice="@Model.Filter.MaxPrice" asp-route-RAMs="@Model.Filter.RAMs" asp-route-searchText="@Model.Filter.SearchText">@pge</a>
                        </li>
                    }

                    @if (pager.CurrentPage < pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-minPrice="@Model.Filter.MinPrice" asp-route-maxPrice="@Model.Filter.MaxPrice" asp-route-RAMs="@Model.Filter.RAMs" asp-route-searchText="@Model.Filter.SearchText">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pg="@(pager.TotalPages)" asp-route-minPrice="@Model.Filter.MinPrice" asp-route-maxPrice="@Model.Filter.MaxPrice" asp-route-RAMs="@Model.Filter.RAMs" asp-route-searchText="@Model.Filter.SearchText">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>

    </main>
    <script src="~/js/Home.js"></script>   
</body>
</html>